.about {
    min-height: 75vh;
}

.about-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pic-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10vh;
}

.picture {
    position: relative;
    max-width: 300px;
}

.mono {
    font-family: monospace;
}

@media (max-width: 768px) {
    .picture {
        margin: 50px auto 0;
        width: 70%;
    }
}