.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-col {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

greeting {
    font-size: clamp(var(14px), 5vw, var(16px));
    font-weight: 400;
    margin: 0 0 0 4px;

    @media (max-width: 480px) {
        margin: 0 0 20px 2px;
    }
}

name {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: bolder;
}

subheader {
    margin: 0;
    margin-top: 10px;
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: bolder;
    color: gray;
}

intro {
    margin: 50px 0 0;
    max-width: 500px;
}